# .env.example

# MongoDB Connection URL
MONGO_DB_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<database_name>

# GitHub OAuth Configuration
GITHUB_CLIENT_ID=<Your_GitHub_Client_ID>
GITHUB_CLIENT_SECRET=<Your_GitHub_Client_Secret>
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback
GITHUB_AUTH_ROUTE=/auth/github
GITHUB_CALLBACK_ROUTE=/auth/github/callback
GITHUB_SUCCESS_REDIRECT_URL=/helloworld
GITHUB_FAILURE_REDIRECT_URL=/error

# Session Secret
SESSION_SECRET=<Your_Session_Secret>

# JWT Secret
JWT_SECRET=<Your_JWT_Secret>